:root {
    --font-main: 'Inter', sans-serif;
    --color-bg: #f8f8f8;
    --color-sidebar: #111;
    --color-text-main: #333;
    --color-text-light: #999;
    --color-text-sidebar: #eee;
    --color-accent: #000;
    --sidebar-width: 10rem;
    --transition-base: 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}