.c-block {
	display: grid;
	row-gap: 3rem;
}

.c-block__item--pd {
	padding: 0 2rem;
}

.c-block__item--2col {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0;
}

.c-block--all-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-weight: bold;
}

.c-block__border {
	border: #ccc 1px solid;
	padding: 4rem;
	border-radius: 10px;
}