.js-loop-slider1,
.js-loop-slider2 {
    height: 15rem;
    position: relative;
}

.c-loop-slider {
    display: flex;
    overflow: hidden;

    &__wrapper {
        display: flex;
    }
}


.slide-item {
    width: 15rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    border-radius: 8px;
}