.c-scroll-container {
    position: relative;
    padding-left: 50px;
}

.c-scroll-line {
    position: absolute;
    left: 20px;
    top: 0;
    width: 2px;
    height: 100%;

    &__progress {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        transform-origin: top;
        transform: scaleY(0); // Controlled by JS
    }
}

.c-scroll-item {
    position: relative;
    padding: 10px 30px;
    background: #f9f9f9;
    border-radius: 8px;
    margin-bottom: 20px;
    transition: 0.4s;

    &.is-active {
        background: #333;
        color: #fff;
    }

		h3 {
			padding: 0;
		}
}

.c-scroll-dot {
    position: absolute;
    left: -29px; // コンテナのpadding(50px) - ラインの中心(21px) = 29px
    top: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    background: #fff;
    border: 2px solid #eee;
    border-radius: 50%;
    z-index: 1;
    transition: 0.3s;

    &.is-active {
        background: #000;
        border-color: #000;
        transform: translate(-50%, -50%) scale(1.2);
    }
}