.p-recipe-section {
    margin-bottom: 6rem;
    transform: translateY(20px);

    &:nth-child(1) {
        animation-delay: 0.1s;
    }

    &:nth-child(2) {
        animation-delay: 0.2s;
    }

    &:nth-child(3) {
        animation-delay: 0.3s;
    }
}

.p-recipe-header {
		padding: 1rem 2rem;
}
.p-demo-area {
    border-radius: 12px;
    padding: 0;
    overflow: hidden;
}